function Draw.transform_into_real_coordinate 1
push argument 0
push constant 31
call Math.multiply 2
push constant 16
add
pop local 0
push local 0
return
function Draw.place_black 2
push argument 1
call Draw.transform_into_real_coordinate 1
pop local 0
push argument 0
call Draw.transform_into_real_coordinate 1
pop local 1
push local 0
push local 1
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Draw.place_white 2
push argument 1
call Draw.transform_into_real_coordinate 1
pop local 0
push argument 0
call Draw.transform_into_real_coordinate 1
pop local 1
push local 0
push local 1
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push constant 8
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Draw.printLines 2
push constant 1
pop local 0
push constant 1
pop local 1
push constant 0
push constant 0
push constant 249
push constant 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 248
push constant 249
push constant 249
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 1
push constant 249
call Screen.drawRectangle 4
pop temp 0
push constant 248
push constant 0
push constant 249
push constant 249
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
push constant 0
push local 0
push constant 31
call Math.multiply 2
push constant 249
push local 0
push constant 31
call Math.multiply 2
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
push local 1
push constant 31
call Math.multiply 2
push constant 0
push local 1
push constant 31
call Math.multiply 2
push constant 1
add
push constant 249
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Draw.draw_black_available 2
push argument 1
call Draw.transform_into_real_coordinate 1
pop local 0
push argument 0
call Draw.transform_into_real_coordinate 1
pop local 1
push local 0
push local 1
push constant 3
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Draw.draw_white_available 2
push argument 1
call Draw.transform_into_real_coordinate 1
pop local 0
push argument 0
call Draw.transform_into_real_coordinate 1
pop local 1
push local 0
push local 1
push constant 3
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push constant 1
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Draw.draw_select 2
push argument 1
call Draw.transform_into_real_coordinate 1
pop local 0
push argument 0
call Draw.transform_into_real_coordinate 1
pop local 1
push local 0
push constant 16
sub
push local 1
push constant 16
sub
push local 0
push constant 16
add
push local 1
push constant 13
sub
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 16
sub
push local 1
push constant 13
add
push local 0
push constant 16
add
push local 1
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 16
sub
push local 1
push constant 16
sub
push local 0
push constant 13
sub
push local 1
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 13
add
push local 1
push constant 16
sub
push local 0
push constant 16
add
push local 1
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
