function Grid.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Grid.place 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Grid.reverse 0
push argument 0
pop pointer 0
push this 0
push constant 1
neg
call Math.multiply 2
pop this 0
push constant 0
return
function Grid.writeWeight 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Grid.makeAvailable 0
push argument 0
pop pointer 0
push constant 0
not
pop this 1
push constant 0
return
function Grid.makeUnavailable 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
return
function Grid.status 0
push argument 0
pop pointer 0
push this 0
return
function Grid.available 0
push argument 0
pop pointer 0
push this 1
return
function Grid.weight 0
push argument 0
pop pointer 0
push this 2
return
function Grid.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
