function Main.print_choice_and_title 0
push constant 7
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 118
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 11
push constant 13
call Output.moveCursor 2
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 104
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 116
call Output.printChar 1
pop temp 0
push constant 104
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 109
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 100
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 104
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 99
call Output.printChar 1
pop temp 0
push constant 104
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 121
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 117
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 116
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 116
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 112
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 121
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 15
push constant 15
call Output.moveCursor 2
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 112
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 121
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 15
push constant 37
call Output.moveCursor 2
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 112
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 121
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 205
push constant 78
push constant 210
push constant 86
call Screen.drawRectangle 4
pop temp 0
push constant 7
push constant 36
call Output.moveCursor 2
pop temp 0
push constant 0
return
function Main.select_mode 2
push constant 1
neg
pop local 1
push constant 117
push constant 163
push constant 202
push constant 179
call Screen.drawRectangle 4
pop temp 0
call Main.print_choice_and_title 0
pop temp 0
push constant 130
pop local 0
label WHILE_EXP0
push local 0
push constant 128
eq
not
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
push local 0
push constant 130
eq
push local 0
push constant 132
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
neg
call Math.multiply 2
pop local 1
label IF_FALSE0
push local 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 117
push constant 163
push constant 202
push constant 179
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push local 1
push constant 1
neg
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 292
push constant 163
push constant 386
push constant 179
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
call Main.print_choice_and_title 0
pop temp 0
call Keyboard.readChar 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Main.printWin 0
push constant 20
push constant 40
call Output.moveCursor 2
pop temp 0
push argument 0
push constant 1
eq
push argument 1
push constant 1
neg
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 87
call Output.printChar 1
pop temp 0
push constant 104
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 116
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
label IF_FALSE0
push argument 0
push constant 1
neg
eq
push argument 1
push constant 1
neg
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 66
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 99
call Output.printChar 1
pop temp 0
push constant 107
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
label IF_FALSE1
push argument 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 68
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
label IF_FALSE2
push argument 0
push constant 1
neg
eq
push argument 1
push constant 1
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 89
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 117
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
label IF_FALSE3
push argument 0
push constant 1
eq
push argument 1
push constant 1
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 67
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 109
call Output.printChar 1
pop temp 0
push constant 112
call Output.printChar 1
pop temp 0
push constant 117
call Output.printChar 1
pop temp 0
push constant 116
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 119
call Output.printChar 1
pop temp 0
push constant 105
call Output.printChar 1
pop temp 0
push constant 110
call Output.printChar 1
pop temp 0
push constant 115
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
label IF_FALSE4
push constant 0
return
function Main.valid 2
push constant 0
not
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push argument 0
push argument 1
call BoardGame.readGrid 3
pop local 1
push local 1
call Grid.status 1
push constant 0
eq
not
push local 1
call Grid.available 1
not
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 0
label IF_FALSE1
label IF_FALSE0
push local 0
return
function Main.endGame 3
push static 0
call BoardGame.readBlack 1
pop local 1
push static 0
call BoardGame.readWhite 1
pop local 2
push constant 0
pop local 0
push local 1
push constant 0
eq
push local 2
push constant 0
eq
or
push local 1
push local 2
add
push constant 64
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push local 0
return
function Main.readCoordinate 2
push static 0
call BoardGame.readSelect 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 128
eq
not
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
push static 0
push argument 0
push argument 1
call BoardGame.printGame 3
pop temp 0
call Keyboard.readChar 0
pop local 1
push local 1
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Select.moveLeft 1
pop temp 0
label IF_FALSE0
push local 1
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Select.moveUp 1
pop temp 0
label IF_FALSE1
push local 1
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Select.moveRight 1
pop temp 0
label IF_FALSE2
push local 1
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Select.moveDown 1
pop temp 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push static 0
push local 0
call BoardGame.writeSelect 2
pop temp 0
push constant 0
return
function Main.main 7
push constant 1
neg
pop local 3
call BoardGame.new 0
pop static 0
call Main.select_mode 0
pop local 0
push static 0
call BoardGame.initGame 1
pop temp 0
push static 0
push constant 3
push constant 3
push constant 1
call BoardGame.setChessman 4
pop temp 0
push static 0
push constant 3
push constant 4
push constant 1
neg
call BoardGame.setChessman 4
pop temp 0
push static 0
push constant 4
push constant 4
push constant 1
call BoardGame.setChessman 4
pop temp 0
push static 0
push constant 4
push constant 3
push constant 1
neg
call BoardGame.setChessman 4
pop temp 0
push static 0
call BoardGame.count_score 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push static 0
push local 3
push local 0
call BoardGame.printGame 3
pop temp 0
label WHILE_EXP0
call Main.endGame 0
not
not
if-goto WHILE_END0
push static 0
push local 3
call BoardGame.setAvailable 2
pop temp 0
push local 3
push constant 1
eq
push static 0
call BoardGame.whiteAvailable 1
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop local 3
push static 0
push constant 1
neg
call BoardGame.setAvailable 2
pop temp 0
label IF_FALSE0
push local 3
push constant 1
neg
eq
push static 0
call BoardGame.blackAvailable 1
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 3
push static 0
push constant 1
call BoardGame.setAvailable 2
pop temp 0
label IF_FALSE1
call Screen.clearScreen 0
pop temp 0
push static 0
push local 3
push local 0
call BoardGame.printGame 3
pop temp 0
push local 0
push constant 1
eq
push local 3
push constant 1
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1000
call Sys.wait 1
pop temp 0
label IF_FALSE2
push constant 1
neg
pop local 1
push constant 1
neg
pop local 2
push local 3
push constant 1
eq
push local 0
push constant 1
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 0
call BoardGame.AI 1
pop local 6
push local 6
push constant 8
call Math.divide 2
pop local 1
push local 6
push constant 8
push local 1
call Math.multiply 2
sub
pop local 2
push static 0
push local 1
push local 2
call BoardGame.setCoordinate 3
pop temp 0
push static 0
push local 3
push local 0
call BoardGame.printGame 3
pop temp 0
goto IF_END3
label IF_FALSE3
label WHILE_EXP1
push local 1
push local 2
call Main.valid 2
not
not
if-goto WHILE_END1
push local 3
push local 0
call Main.readCoordinate 2
pop temp 0
push static 0
call BoardGame.getX 1
pop local 1
push static 0
call BoardGame.getY 1
pop local 2
call Screen.clearScreen 0
pop temp 0
push static 0
push local 3
push local 0
call BoardGame.printGame 3
pop temp 0
goto WHILE_EXP1
label WHILE_END1
label IF_END3
push static 0
push local 1
push local 2
push local 3
call BoardGame.setChessman 4
pop temp 0
push static 0
push local 1
push local 2
push local 3
call BoardGame.changeChessman 4
pop temp 0
push local 3
push constant 1
neg
call Math.multiply 2
pop local 3
push static 0
call BoardGame.count_score 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push static 0
push local 3
push local 0
call BoardGame.printGame 3
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push static 0
call BoardGame.readBlack 1
pop local 4
push static 0
call BoardGame.readWhite 1
pop local 5
push local 4
push local 5
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
neg
push local 0
call Main.printWin 2
pop temp 0
label IF_FALSE4
push local 4
push local 5
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
push local 0
call Main.printWin 2
pop temp 0
label IF_FALSE5
push local 4
push local 5
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
push local 0
call Main.printWin 2
pop temp 0
label IF_FALSE6
push static 0
call BoardGame.dispose 1
pop temp 0
push constant 0
return
